.nickmap-controls-map-container{
    width:100%;
    height: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.nickmap-map-host{
    grid-row: 1;
    grid-column: 1;
}

.nickmap-controls-overlay{
    grid-row: 1;
    grid-column: 1;
    z-index: 9999;
    display:grid;
    grid-template-rows: 1fr auto;
    pointer-events: none;
}


.nickmap-status-version-display{
    font-size: 10px;
    position:absolute;
    pointer-events: none;
    bottom:0.3em;
    right :0.3em;
    left  :0.3em;
    z-index: 9999;
    display:grid;
    grid-template-columns: 1fr auto auto auto;
    gap:1em;
    
}

.nickmap-modal-explanation{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color:  rgba(0,0,0,0.7);
    color                      : seashell;
    border-radius: 4px;
    min-height: 5em;
    min-width: 5em;
    pointer-events: all;
    display: grid;
    grid-template-rows: 1fr auto;
    gap:1em;
    padding:0.6em;
    max-width: 80%;
}

.nickmap-status-text, .nickmap-status-selected{
    color: #000;
    background-color:rgba(255,255,255,0.75);
    border-radius: 4px;
    padding:3px;
}
.nickmap-version-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    color: #BBBB;
}

.nickmap-status-text-warning{
    color: orangered;
}

.nickmap-status-text-error{
    color: red;
}

.ol-scale-line {
    right: 0.3em;
    top:0.3em;
    bottom:unset;
    left:unset;
}