.nickmap-controls-map-container{
    width:100%;
    height: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.nickmap-map-host{
    grid-row: 1;
    grid-column: 1;
}

.nickmap-controls-overlay{
    grid-row: 1;
    grid-column: 1;
    z-index                        : 9999;
    display:grid;
    grid-template-rows: 1fr auto;
    pointer-events: none;
}


.nickmap-status-version-display{
    position:absolute;
    pointer-events: none;
    bottom:0;
    right:0;
    left:10em;
    z-index: 9999;
    display:grid;
    grid-template-columns: 2fr 1fr;
    color: #000B;
}

.nickmap-status-text{
    font-size:90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nickmap-version-text{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 80%;
    white-space: nowrap;
    text-align: right;
}

